include ../../../components/title/title.pug

section.ap-offer(data-anim-content)
	.ap-container.ap-offer__container
		+title('h2', 'Стать частью компании SkyFish').ap-offer__title
		+btn({        
			text: 'Откликнуться',
			cMode: 'white'
		})
		.ap-offer__wrapper
			.ap-offer__text Мы регулярно расширяем состав компании