section.ap-main-screen(data-anim-content)
    .ap-container.ap-main-screen__container
        +breadcrumbs
        +title("h1", "SKY FISH")(data-anim-name='mainTitle').ap-main-screen__title
        .ap-main-screen__text(data-anim-name='mainScreenText') Привозим, продаём,<br>перерабатываем<br>и знаем о рыбе всё