section.ap-career(data-anim-content)
    .ap-container
        .ap-career__info
            +title('h2', 'Карьера в Sky Fish').ap-career__title
            +btn({        
                text: 'Подробнее',
            })
            .ap-career__wrapper
                .ap-career__text Мы быстрорастущая и инновационная компания, которая меняет представление о том, как должна выглядеть успешная карьера. Мы стремимся создавать среду, где каждый сотрудник может раскрыть свой потенциал и достичь новых высот.
