footer.site-footer.ap-footer
    .ap-footer__container
        .ap-footer__left
            .ap-footer__logo 
                img(src="img/logo.png" alt="logo")
            .ap-footer__text Понимаем море,слышим людей
            +btn({
                text: 'Заказать звонок',
                tag: 'button'
            })(data-hystmodal="#callbackModal")
        .ap-footer__right
            .ap-footer__section.footer-section
                .footer-section__name Каталог
                .footer-section__links 
                    +btn({
                        classes: 'footer-section__link',
                        text: 'Рыба охлажденная',
                        vMode: 'link',
                        cMode: 'transparent',
                        icon: 'false'
                    })
                    +btn({
                        classes: 'footer-section__link',
                        text: 'Рыба свежемороженая',
                        vMode: 'link',
                        cMode: 'transparent',
                        icon: 'false'
                    })
                    +btn({
                        classes: 'footer-section__link',
                        text: 'Филе охлажденное',
                        vMode: 'link',
                        cMode: 'transparent',
                        icon: 'false'
                    })   
                    +btn({
                        classes: 'footer-section__link',
                        text: 'Филе свежемороженое',
                        vMode: 'link',
                        cMode: 'transparent',
                        icon: 'false'
                    })
                    +btn({
                        classes: 'footer-section__link',
                        text: 'Морепродукты',
                        vMode: 'link',
                        cMode: 'transparent',
                        icon: 'false'
                    })
                    +btn({
                        classes: 'footer-section__link',
                        text: 'Субпродукты',
                        vMode: 'link',
                        cMode: 'transparent',
                        icon: 'false'
                    })                      
            .ap-footer__section.footer-section
                .footer-section__name О компании
                .footer-section__links 
                    +btn({
                        classes: 'footer-section__link',
                        text: 'Производство',
                        vMode: 'link',
                        cMode: 'transparent',
                        icon: 'false'
                    })
                    +btn({
                        classes: 'footer-section__link',
                        text: 'Склад и логистика',
                        vMode: 'link',
                        cMode: 'transparent',
                        icon: 'false'
                    })
                    +btn({
                        classes: 'footer-section__link',
                        text: 'Мы в социуме',
                        vMode: 'link',
                        cMode: 'transparent',
                        icon: 'false'
                    })   
                    +btn({
                        classes: 'footer-section__link',
                        text: 'Карьера в SKY FISH',
                        vMode: 'link',
                        cMode: 'transparent',
                        icon: 'false'
                    })
                    +btn({
                        classes: 'footer-section__link',
                        text: 'Наша команда',
                        vMode: 'link',
                        cMode: 'transparent',
                        icon: 'false'
                    })
            .ap-footer__section.footer-section
                .footer-section__name А ещё ...
                .footer-section__links 
                    +btn({
                        classes: 'footer-section__link',
                        text: 'Контакты',
                        vMode: 'link',
                        cMode: 'transparent',
                        icon: 'false'
                    })
                    +btn({
                        classes: 'footer-section__link',
                        text: 'Личный кабинет',
                        vMode: 'link',
                        cMode: 'transparent',
                        icon: 'false'
                    })
                    +btn({
                        classes: 'footer-section__link',
                        text: 'Документы',
                        vMode: 'link',
                        cMode: 'transparent',
                        icon: 'false'
                    })   
                    +btn({
                        classes: 'footer-section__link',
                        text: 'Новости',
                        vMode: 'link',
                        cMode: 'transparent',
                        icon: 'false'
                    })
                    +btn({
                        classes: 'footer-section__link',
                        text: 'Вопросы и ответы',
                        vMode: 'link',
                        cMode: 'transparent',
                        icon: 'false'
                    })                           
            .ap-footer__contacts.footer-cotacts
                .footer-cotacts__social
                    +btn({
                        vMode: 'icon',
                        iconName: 'telegram',
                        cMode: 'transparent',
                    })
                    +btn({
                        vMode: 'icon',
                        iconName: 'vk',
                        cMode: 'transparent',
                    })
                .footer-cotacts__contacts
                    span info@skyfish.ru
                    span +7 (4922) 52-12-33