h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}
html,
body {
    font-family: 'Commissioner', sans-serif;
	height: 100%;
}
body{
    display: flex;
    flex-direction: column;
	min-height: 100%;
}
.site-main{
    width: 100%;
    flex-grow: 1;
}

/*[data-anim-section] {
    max-height: 100vh !important;
    overflow-y: hidden;
}*/
